.placeholder {
    min-height: 600px;
    height: 100%;
    max-height: 1000px;
    opacity: 0.05;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invalid p {
    padding: 25px;
    font: var(--text-base);
}
.row {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 25px;
    border-bottom: 1px solid var(--lv0);
    font: var(--text-xs);
    position: relative;
    color: var(--lv5);
}

@media (prefers-color-scheme: dark) {
    .row {
        border-color: var(--lv2);
    }
}
.row:last-child {
    border-bottom: none;
}
.row > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.indexNumber {
    position: absolute;
    top: 25px;
    left: 5px;
    font: var(--text-2xs);
    color: var(--lv4);
}
.scoreNumber {
    position: absolute;
    top: 25px;
    right: 5px;
    font: var(--text-2xs);
    color: var(--lv4);
}
.row span {
    color: var(--lv6);
    background-color: var(--lv0);
    font: var(--text-xs);
    margin-right: 5px;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
}