.main {
  padding: 2rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.section {
  margin-bottom: 3rem;
}

.title {
  font: var(--text-2xl);
  margin-bottom: 0.5rem;
}

.desc {
  font: var(--text-base);
  color: var(--lv5);
}

.heading {
  font: var(--text-lg);
  margin-bottom: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
